@page "/"
@using MudBlazor
@using P1.Models
@using P1.Services

@inject IGameBoardViewModel _viewModel;
@inject IJSRuntime JS;

<div class="d-flex">
    <GameInfoView/>

    <div>
        <MudDropContainer Class="d-flex flex-column flex-grow-1" T="CardVM"
                          Items="_viewModel.Cards"
                          ItemsSelector="@((item, dropzone) => item.Place.ToString() == dropzone)"
                          ItemDropped="ItemUpdated">
            <ChildContent>
                <div style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <BoardGridView/>
                    <div class="d-flex align-items-center">
                        <HandView/>
                        <TurnControls/>
                    </div>
                </div>
            </ChildContent>
            <ItemRenderer>
                <CardView Card="@context"/>
            </ItemRenderer>
        </MudDropContainer>
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        _viewModel.OnViewStateChanged += StateHasChanged;
    }
    
    private void ItemUpdated(MudItemDropInfo<CardVM> dropItem)
    {
        _viewModel.OnMoveCard(dropItem.Item, new CardPlace(dropItem.DropzoneIdentifier));
        StateHasChanged();
    }
}